# This is Git's per-user configuration file.
[user]
	name = Geoffrey Chandler
	email = geoffc@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
[alias]
	bb = !better-branch.sh
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[url "git@gh_evinova:unified-trials/"]
        insteadOf = git@github.com:unified-trials/
[url "git@gh_evinova:evinova/"]
        insteadOf = git@github.com:evinova/
